.text-center {
    text-align: center;
}

.mb-10 {
    margin-bottom: 10px;
}

.fs-14 {
    font-size: 14px;
}

.pl-10 {
    padding-left: 10px;
}

.content-img {
    max-height: 300px;
}

.error {
    color: red;
}